* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: #f1f1f1;
}

body,
input,
button,
strong {
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
  letter-spacing: 0.25px;
}
